<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaef/layout"
      layout:decorate="~{/basic.html}">

<div layout:fragment="content">

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>중고상품</h2>
                        <div class="breadcrumb__option">
                            <a href="/basic">Home</a>
                            <span>Product List</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="">
                <div class="col-lg-12 col-md-7">
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-6 col-md-4">
                                <div class="filter__found">
                                    <h6 class="text-left">총 <span>[[${pageResponseDTO.total_count}]]</span>개</h6>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-3">
                                <div class="filter__option">
                                    <button type="button" class="btn site-btn" onclick="location.href='/trade/regist'" th:if="${session.memberType == 'a'}">등록하기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 상품 목록 -->
                    <div class="row">
                        <div th:each="dto:${pageResponseDTO.dtoList}" th:if="${!pageResponseDTO.dtoList.isEmpty()}" class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a th:href="|@{/trade/view(trade_idx=${dto.tradeIdx})}|">
                                    <div class="product__item__pic set-bg" th:data-setbg="'/img/product/' + ${dto.saveFileName} + ''">
                                    </div>
                                    <div class="product__item__text">
                                        <h6>[[${dto.title}]]</h6>
                                        <h5>[[${#numbers.formatCurrency(dto.price)}]]</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div th:if="${pageResponseDTO.dtoList.isEmpty()}">
                            등록된 상품이 없습니다.
                        </div>
                    </div>
                    <!--        =================== 페이징 영역 start ================-->
                    <div class="float-end d-flex justify-content-center">
                        <ul class="pagination flex-wrap">
                            <li class="page-item" th:if="${pageRequestDTO.prev_page_flag}">
                                <a class="page-link arrow__color" th:data-num="${pageRequestDTO.page_block_start-10}" th:href="|@{/trade/list}?page=${pageRequestDTO.page_block_start-10}|"><i class="fa fa-long-arrow-left arrow__color" ></i></a>
                            </li>
                            <li class="page-item" th:unless="${pageRequestDTO.prev_page_flag}">
                                <a class="page-link arrow__color" th:data-num="${pageRequestDTO.page_block_start-10}" disabled><i class="fa fa-long-arrow-left arrow__color" ></i></a>
                            </li>

                            <th:block th:each="i:${#numbers.sequence(pageRequestDTO.page_block_start, pageRequestDTO.page_block_end)}">
                                <li class="page-item">
                                    <a class="page-link theme__color" th:classappend="${pageRequestDTO.page == i} ? 'active' : ''" th:data-num="${i}" th:href="|@{/trade/list}?page=${i}|">[[${i}]]</a>
                                </li>
                            </th:block>
                            <li class="page-item" th:if="${pageRequestDTO.next_page_flag}">
                                <a class="page-link arrow__color" th:data-num="${pageRequestDTO.page_block_end+1}" th:href="|@{/trade/list}?page=${pageRequestDTO.page_block_end+1}|"><i class="fa fa-long-arrow-right arrow__color" ></i></a>
                            </li>
                            <li class="page-item" th:unless="${pageRequestDTO.next_page_flag}">
                                <a class="page-link arrow__color " th:data-num="${pageRequestDTO.page_block_end+1}" disabled><i class="fa fa-long-arrow-right arrow__color" ></i></a>
                            </li>
                        </ul>
                    </div>
                    <!--        =================== 페이징 영역 end ================-->
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
</div>

