<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaef/layout"
      layout:decorate="~{/basic.html}">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tiny.cloud/1/wjuflumw0txwktnvnufwfo5lj04kqmup66rnaj1jf6pnwv5d/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#content',
            plugins: [
                'advlist','autolink',
                'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks'
                ,'fullscreen','insertdatetime','media','table','help','wordcount'
            ],
            toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
                  'alignleft aligncenter alignright alignjustify | ' +
                  'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
        });
    </script>
</head>
<div layout:fragment="content">
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>중고상품 등록</h2>
                        <div class="breadcrumb__option">
                            <a href="/trade/list">List</a>
                            <span>Product Regist</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h4>중고상품 등록</h4>
                <form name="frmRegist" id="frmRegist" action="/trade/regist" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="memberId" th:value="${session.memberId}">
                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-6">

                            <div class="checkout__input">
                                <p>상품 사진<span>*</span></p>
                                <input type="file" name="file" id="file" accept=".jpg, .png">
                            </div>
                            <div class="checkout__input">
                                <p>제목<span>*</span></p>
                                <input type="text" name="title" id="title">
                            </div>
                            <div class="checkout__input">
                                <p>상품 설명<span>*</span></p>
                                <textarea name="content" id="content" cols="150" rows="8"></textarea>
                            </div>
                            <div class="checkout__input">
                                <p>가격<span>*</span></p>
                                <input type="text" name="price" id="price">
                            </div>
                            <div class="checkout__input">
                                <p>카테고리<span>*</span></p>
                                <select name="category">
                                    <option value="유아">유아</option>
                                    <option value="초등">초등</option>
                                    <option value="중등">중등</option>
                                    <option value="고등">고등</option>
                                    <option value="해외">해외</option>
                                    <option value="기타">기타</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn-lg btn-success">등록</button>
                    <button type="button" class="btn-lg btn-success" onclick="location.href='/trade/list'">취소</button>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
</div>

<script layout:fragment="script" th:inline="javascript">
    const errors = [[${errors}]];
    console.log("errors : {}", errors);

    let errMsg = "";
    if (errors) {
        for (let i =0; i<errors.length; i++) {
            console.log(`${errors[i].code}`);
        errMsg += `${errors[i].defaultMessage}\n`;
    }
    alert(errMsg);
    }
</script>