<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login</title>

    <!-- Google Font -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap}" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <!--  favicon  -->
    <link rel="shortcut icon" th:href="@{/img/verryicon.ico}" type="image/x-icon">
    <link rel="icon" th:href="@{/img/verryicon.ico}" type="image/x-icon">
</head>
<body>
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <div class="section-title">
                <div class="header__logo">
                    <a th:href="@{/basic}"><img src="/img/verryicon.png" style="height: 50px;" alt=""></a>
                </div>
                <h2>Login</h2>
            </div>
            <form method="post" action="/member/login">
                <div class="row">
                    <div class="col">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <label for="id">아이디</label>
                                    <br>
                                    <input type="text" name="id" id="id" th:value="${id}"/>
                                </div>
                                <div class="checkout__input">
                                    <label for="pwd">비밀번호</label>
                                    <br>
                                    <input type="password" name="pwd" id="pwd"/>
                                    <span style="color: red" th:if="${id!=null}">아이디 또는 비밀번호를 확인해주세요</span>
                                </div>
                                <div class="checkout__input text-center">
                                    <button type="submit" class="btn primary-btn mx-2" >로그인</button>
                                    <button type="button" class="btn primary-btn mx-2" style="background-color: #6c757d;" onclick="location.href='/member/join'">회원가입</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Js Plugins -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/jquery.slicknav.js}"></script>
<script th:src="@{/js/mixitup.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>