<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{basic.html}">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div layout:fragment="content">

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/img/strawberry.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>자유게시판</h2>
                        <div class="breadcrumb__option">
                            <a href="/basic">Home</a>
                            <a href="/bbs/list">Bbs List</a>
                            <span>Bbs View</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <div class="contact-form spad">
        <div class="container">

            <form action="/bbs/delete" method="post" id="frm_delete">
                <input type="hidden" name="idx" th:value="${boardDTO.idx}">

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <input type="text" readonly  id="title" name="title" th:value="${boardDTO.title}" style="border: 0px; border-bottom: 1px solid #ebebeb;">
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <label class="mx-3">작성자 : <input type="text" readonly  id="memberId" name="memberId" th:value="${boardDTO.memberId}" style="width:fit-content; border: 0px; border-bottom: 1px solid #ebebeb;"></label>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <label>등록일 : <input type="text" readonly  id="regDate" name="regDate" th:value="${boardDTO.regDate}" style="width:fit-content; border: 0px; border-bottom: 1px solid #ebebeb;"></label>
                    </div>

                    <div class="col-lg-12 mx-3 overflow-auto" style="max-height: 500px;" th:utext="${boardDTO.content}">
                    </div>

                    <div th:if="${boardDTO.orgFileName != null and !#strings.toString(boardDTO.orgFileName).equals('') and !#strings.toString(boardDTO.orgFileName).isEmpty()}" class="col-lg-12 mx-3 mt-4" >
                        <label>첨부파일 : </label>
                        <span><a th:href="|@{/bbs/download(idx=${boardDTO.idx})}|" target="_blank">[[${boardDTO.orgFileName}]]</a></span>
                    </div>

                    <div class="col-lg-12 d-flex justify-content-between mt-5" >

                        <div>
                            <button type="button" class="btn btn-outline-danger mx-2" onclick="delete_bbs()" th:if="${session.memberId == boardDTO.memberId} or ${session.memberType == 'a'} ">삭제</button>
                            <script>
                                const frm = document.querySelector("frm_delete");
                                function delete_bbs() {
                                    let chk_del = confirm("정말 삭제하시겠습니까?");
                                    if(chk_del) {
                                        frm_delete.submit();
                                    }
                                }
                            </script>
                        </div>

                        <div>
                            <a th:href='@{/bbs/modify(idx=${boardDTO.idx})}' th:if="${session.memberId == boardDTO.memberId} or ${session.memberType == 'a'} " >
                                <button type="button" class="btn btn-success mx-2" >수정하기</button>
                            </a>
                            <button type="button" class="btn btn-secondary" onclick="location.href='/bbs/list'">목록</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="my-4"  th:if="${session.memberId != null}">
                    <form action="/bbs/replies/regist" method="post">
                        <button type="button" class="btn btn-info registReplyBtn">댓글 등록</button>
                    </form>
                </div>
                <ul class="list-group replyList">

                </ul>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <ul class="pagination replyPaging justify-content-center"></ul>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/replyBoard.js"></script>
    </div>
    <!-- 댓글 등록 모달창 -->
    <div class="modal registerModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">댓글 등록</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">댓글 내용</span>
                        <input type="text" class="form-control replyText">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">작성자</span>
                        <input type="text" readonly class="form-control replyer" th:value="${session.memberId}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary registerBtn">등록</button>
                    <button type="button" class="btn btn-outline-dark closeRegisterBtn">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
    const idx = [[${boardDTO.idx}]];
    const member_id = [[${session.memberId}]];
    const member_type = [[${session.memberType}]];
    const replyList = document.querySelector(".replyList");
    const replyPaging = document.querySelector(".replyPaging");


    console.log(member_id, member_type);

    function printReplyArea(page, page_size, goLast) {
        getReplyList({idx, page, page_size, goLast})
            .then(
                data=> {
                    console.log(data);
                    printReplyList(data.dtoList);
                    printPaging(data.pageRequestDTO);
                }
            )
            .catch(e=>{console.log(e.message);});
    }

    printReplyArea(1, 10);

    function printReplyList(dtoList) {
        let replyLi = "";
        if (dtoList && dtoList.length > 0) {
            for (const dto of dtoList) {
                replyLi += `<li class="list-group-item d-flex replyItem">

                        <span class="col-6" data-idx="${dto.boardIdx}">${dto.comment}
                                    <button class="badge progress-bar-success replyDelete"
                                                style="color: red; background-color: #ffffff; border: none"
                                                onclick="replyDeleteAsk('${dto.boardReplyIdx}', '${dto.memberId}')">X</button>
                        </span>
                        <span class="col-2">${dto.memberId}</span>
                        <span class="col-2">${dto.regDate}</span>
                        </li>`;
            }
        } else {
            replyLi += `<li class="list-group-item d-flex replyItem">
                    <span class="col-12">등록된 댓글이 없습니다.</span>
                    </li>`;
        }
        replyList.innerHTML = replyLi;
    }

    function replyDeleteAsk(idx, id) {
        console.log(idx, id);
        if (id === member_id || member_type === "a") {
            let yn = confirm("댓글을 삭제 하시겠습니까?");
            if (yn) {
                replyDeleteOK(idx);
            }
        }
        else {
            alert("자신의 댓글만 삭제할 수 있습니다.");
        }
    }

    function printPaging(data) {
        console.log("printPaging >>> " , data);
        let pagePrevLi = "";
        let pageNextLi = "";
        let pageLiList = "";
        let pageArea = "";
        if (data.prev_page_flag) {
            pagePrevLi += `<li class="page-item"><a class="page-link" data-page="${data.page_block_start-10}"onclick="printReplyArea(${data.page_block_start - 10}, 10)">PREV</a></li>`
        }
        else {
            pagePrevLi += `<li class="page-item"><a class="page-link" data-page="${data.page_block_start-10}"  >PREV</a></li>`
        }

        for (let i=data.page_block_start; i<=data.page_block_end; i++) {
            if (data.page == i) {
                pageLiList += `<li class="page-item active"> <a class="page-link" data-page="${i}" >${i}</a> </li>`
            } else {
                pageLiList += `<li class="page-item"> <a class="page-link" data-page="${i}" onclick="printReplyArea(${i}, 10)">${i}</a> </li>`
            }
        }

        if (data.next_page_flag) {
            pageNextLi += `<li class="page-item"><a class="page-link" data-page="${data.page_block_end+1}" onclick="printReplyArea(${data.page_block_end + 1}, 10)">NEXT</a></li>`
        }
        else {
            pageNextLi += `<li class="page-item"><a class="page-link" data-page="${data.page_block_start+1}"  >NEXT</a></li>`
        }

        pageArea = pagePrevLi + pageLiList + pageNextLi;
        replyPaging.innerHTML = pageArea;
    }

    function replyDeleteOK(idx) {
        replyDelete(idx);
        printReplyArea(1, 10, "true");
    }

    // 댓글 등록
    const registerModal = new bootstrap.Modal(document.querySelector(".registerModal"));
    const registerBtn = document.querySelector(".registerBtn");
    const replyText = document.querySelector(".replyText");
    const replyer = document.querySelector(".replyer");
    const closeRegisterBtn = document.querySelector(".closeRegisterBtn");

    document.querySelector(".registReplyBtn").addEventListener("click", function(e) {
        registerModal.show();
    });

    closeRegisterBtn.addEventListener("click", function(e) {
        registerModal.hide();
    });

    registerBtn.addEventListener("click", function(e) {
        const replyObj = {
            boardIdx: idx,
            comment: replyText.value,
            memberId: replyer.value
        }

        console.log(replyObj);

        replyRegist(replyObj).then(result => {
            alert("댓글 등록이 완료되었습니다.");
            registerModal.hide();
            replyText.value = "";
            printReplyArea(1, 10, true);
        }).catch(e => {
            alert(e.message);
        });
    });
</script>

</body>
</html>