<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">


    <div class="contact-form spad">
        <div class="container">

            <form action="#">

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <input type="text" readonly placeholder="제목을 입력해주세요" id="title" name="title" th:value="${boardDTO.title}" style="border: 0px; border-bottom: 1px solid #ebebeb;">
                    </div>

                    <div class="col-lg-12">
                        <textarea placeholder="내용을 입력해주세요." readonly id="content" name="content">[[${boardDTO.content}]]</textarea>
                    </div>

                    <div class="col-lg-12 d-flex justify-content-end">
                        <button type="button" class="site-btn mx-3" onclick="location.href='/bbs/modify?idx='${boardDTO.idx}">수정하기</button>
                        <button type="button" class="site-btn" onclick="location.href='/bbs/list'">목록</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>