<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Verry Market</title>

    <!-- Google Font -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap}" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <!--  favicon  -->
    <link rel="shortcut icon" th:href="@{/img/verryicon.ico}" type="image/x-icon">
    <link rel="icon" th:href="@{/img/verryicon.ico}" type="image/x-icon">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="#"><img src="/img/verrylogo.png" alt=""></a>
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__auth d-flex">
            <a href="#"><i class="fa fa-user"></i> Login</a>
<!--            <a href="#"><i class="fa fa-user"></i> Mypage</a>-->
<!--            <a class="ml-4" href="#">Logout</a>-->
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a th:href="@{/basic}">Home</a></li>
            <li><a th:href="@{/trade/list}">Shop</a></li>
            <li><a th:href="@{/notice/list}">Notice</a></li>
            <li><a th:href="@{/bbs/list}">Community</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header position-sticky bg-white d" style="top:0; z-index: 98;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a th:href="@{/basic}"><img src="/img/verrylogo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a th:href="@{/basic}">Home</a></li>
                        <li><a th:href="@{/trade/list}">Shop</a></li>
                        <li><a th:href="@{/notice/list}">Notice</a></li>
                        <li><a th:href="@{/bbs/list}">Community</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 header__menu">
                <ul>
                    <li><a href="#"><i class="fa fa-user"></i> Login</a></li>
<!--                    <li><a href="#"><i class="fa fa-user"></i> Mypage</a></li>-->
<!--                    <li><a href="#">Logout</a></li>-->
                </ul>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

<div class="container" layout:fragment="content">
<!--<section class="breadcrumb-section hero__item set-bg" data-setbg="/img/strawberry.jpg">-->
<section class="breadcrumb-section hero__item set-bg" data-setbg="/img/strawberry2.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text hero__text">
                    <span>FRUIT FRESH</span>
                    <h2>Vegetable <br />100% Organic</h2>
                    <a th:href="@{/trade/list}" class="primary-btn">SHOP NOW</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Shop</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".category1">category1</li>
                        <li data-filter=".category2">category2</li>
                        <li data-filter=".category3">category3</li>
                        <li data-filter=".category4">category4</li>
                        <li data-filter=".category5">category5</li>
                        <li data-filter=".category6">category6</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            <div class="col-lg-3 col-md-4 col-sm-6 mix" th:each="content:${tradeDTO.dtoList}" th:classappend="${content.category}" th:if="${content.category}">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-1.jpg">
                    </div>
                    <div class="featured__item__text">
                        <h6><a th:href="@{/trade/view(idx=${content.tradeIdx})}">[[${content.title}]]</a></h6>
                        <h5>[[${#numbers.formatCurrency(content.price)}]]</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured Section End -->

<section class="from-blog spad d-flex text-left">
    <div class="container">
        <div>
            <div>
                <div class="section-title from-blog__title">
                    <h2>Notice</h2>
                </div>
            </div>
        </div>
        <div class="flex-column">
            <div th:each="content:${noticeDTO}">
                <div>
                    <a th:href="@{/notice/view(idx=${content.idx})}">
                        <p>
                            <i class="fa fa-calendar-o"></i> [[${#strings.substring(content.regDate, 0, 10)}]]
                            <i class="fa fa-comment-o ml-3"></i> [[${#strings.abbreviate(content.title, 30)}]]
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <div>
                <div class="section-title from-blog__title">
                    <h2>Community</h2>
                </div>
            </div>
        </div>
        <div class="flex-column">
            <div th:each="content:${boardDTO}">
                <div>
                    <a th:href="@{/bbs/view(idx=${content.idx})}">
                        <p>
                            <i class="fa fa-calendar-o"></i> [[${#strings.substring(content.regDate, 0, 10)}]]
                            <i class="fa fa-comment-o ml-3"></i> [[${#strings.abbreviate(content.title, 30)}]]
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- Blog Section End -->

<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a th:href="@{/basic}"><img style="filter: grayscale(100%); height: 40px;" src="/img/verrylogo.png" alt=""></a>
                    </div>
                    <ul class="w-100">
                        <li><span class="font-weight-bold">(주)베리마켓</span> 서울특별시 금천구 디지털로9길 23</li>
                        <li>Tel: 02.222.2222</li>
                        <li>Email: hello@verrymarket.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>Useful Links</h6>
                    <ul>
                        <li><a th:href="@{/basic}">Home</a></li>
                        <li><a th:href="@{/trade/list}">Shop</a></li>
                        <li><a th:href="@{/notice/list}">Notice</a></li>
                        <li><a th:href="@{/bbs/list}">Community</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">개인정보처리방침</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                    <div class="footer__copyright__payment"><img src="/img/payment-item.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/jquery.slicknav.js}"></script>
<script th:src="@{/js/mixitup.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/main.js}"></script>

<th:block layout:fragment="script"></th:block>

</body>

</html>