<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Verry Market</title>

    <!-- Google Font -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap}" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <!--  favicon  -->
    <link rel="shortcut icon" th:href="@{/img/verryicon.ico}" type="image/x-icon">
    <link rel="icon" th:href="@{/img/verryicon.ico}" type="image/x-icon">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a th:href="@{/basic}"><img src="/img/verrylogo.png" alt=""></a>
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__auth d-flex" th:if="${session.memberId}">
            <a href="#"><i class="fa fa-user"></i> Mypage</a>
            <a class="ml-4" th:href="@{/member/logout}">Logout</a>
        </div>
        <div class="header__top__right__auth d-flex" th:unless="${session.memberId}">
            <a th:href="@{/member/login}"><i class="fa fa-user"></i> Login</a>
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a th:href="@{/basic}">Home</a></li>
            <li><a th:href="@{/trade/list}">Shop</a></li>
            <li><a th:href="@{/notice/list}">Notice</a></li>
            <li><a th:href="@{/bbs/list}">Community</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header position-sticky bg-white d" style="top:0; z-index: 98;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a th:href="@{/basic}"><img src="/img/verrylogo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li th:classappend="${pageName == 'home' ? 'active' : ''}"><a th:href="@{/basic}">Home</a></li>
                        <li th:classappend="${pageName == 'shop' ? 'active' : ''}"><a th:href="@{/trade/list}">Shop</a></li>
                        <li th:classappend="${pageName == 'notice' ? 'active' : ''}"><a th:href="@{/notice/list}">Notice</a></li>
                        <li th:classappend="${pageName == 'community' ? 'active' : ''}"><a th:href="@{/bbs/list}">Community</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 header__menu">
                <ul>
                    <li th:if="${session.memberId}"><a th:href="@{/member/modify}"><i class="fa fa-user"></i> Mypage</a></li>
                    <li th:if="${session.memberId}"><a th:href="@{/member/logout}">Logout</a></li>
                    <li th:unless="${session.memberId}"><a th:href="@{/member/login}"><i class="fa fa-user"></i> Login</a></li>
                </ul>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

<div class="container" layout:fragment="content">
<section class="breadcrumb-section hero__item set-bg" data-setbg="/img/strawberry2.jpg">
    <div class="container">
        <div class="row">
            <div class="text-center w-100">
                <div class="breadcrumb__text hero__text p-5" style="background-color: rgba(0, 0, 0, 0.7)">
                    <h2>WELCOME <br/>🍓Verry Market🍓</h2>
                    <a th:href="@{/trade/list}" class="primary-btn mt-2">Go Shop</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Shop</h2>
                </div>
                <div class="featured__controls" id="controls">
                    <ul>
                        <li class="active">All</li>
                        <li>유아</li>
                        <li>초등</li>
                        <li>중등</li>
                        <li>고등</li>
                        <li>교과서/참고서</li>
                        <li>기타</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter" id="all">
            <div class="col-lg-3 col-md-4 col-sm-6 mix" th:each="content:${tradeDTO.dtoList}">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-1.jpg">
                    </div>
                    <div class="featured__item__text">
                        <h6><a th:href="@{/trade/view(trade_idx=${content.tradeIdx})}">[[${content.title}]]</a></h6>
                        <h5>[[${#numbers.formatCurrency(content.price)}]]</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row featured__filter d-none" id="category1">
            <div class="col-lg-3 col-md-4 col-sm-6 mix" th:each="content:${category1List}" th:classappend="category1" th:if="${content.category}">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-1.jpg">
                    </div>
                    <div class="featured__item__text">
                        <h6><a th:href="@{/trade/view(trade_idx=${content.tradeIdx})}">[[${content.title}]]</a></h6>
                        <h5>[[${#numbers.formatCurrency(content.price)}]]</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row featured__filter d-none" id="category2">
            <div class="col-lg-3 col-md-4 col-sm-6 mix" th:each="content:${category2List}" th:classappend="category2" th:if="${content.category}">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-2.jpg">
                    </div>
                    <div class="featured__item__text">
                        <h6><a th:href="@{/trade/view(trade_idx=${content.tradeIdx})}">[[${content.title}]]</a></h6>
                        <h5>[[${#numbers.formatCurrency(content.price)}]]</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row featured__filter d-none" id="category3">
            <div class="col-lg-3 col-md-4 col-sm-6 mix" th:each="content:${category3List}" th:classappend="category3" th:if="${content.category}">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-3.jpg">
                    </div>
                    <div class="featured__item__text">
                        <h6><a th:href="@{/trade/view(trade_idx=${content.tradeIdx})}">[[${content.title}]]</a></h6>
                        <h5>[[${#numbers.formatCurrency(content.price)}]]</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row featured__filter d-none" id="category4">
            <div class="col-lg-3 col-md-4 col-sm-6 mix" th:each="content:${category4List}" th:classappend="category4" th:if="${content.category}">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-4.jpg">
                    </div>
                    <div class="featured__item__text">
                        <h6><a th:href="@{/trade/view(trade_idx=${content.tradeIdx})}">[[${content.title}]]</a></h6>
                        <h5>[[${#numbers.formatCurrency(content.price)}]]</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row featured__filter d-none" id="category5">
            <div class="col-lg-3 col-md-4 col-sm-6 mix" th:each="content:${category5List}" th:classappend="category5" th:if="${content.category}">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-5.jpg">
                    </div>
                    <div class="featured__item__text">
                        <h6><a th:href="@{/trade/view(trade_idx=${content.tradeIdx})}">[[${content.title}]]</a></h6>
                        <h5>[[${#numbers.formatCurrency(content.price)}]]</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row featured__filter d-none" id="category6">
            <div class="col-lg-3 col-md-4 col-sm-6 mix" th:each="content:${category6List}" th:classappend="category6" th:if="${content.category}">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-6.jpg">
                    </div>
                    <div class="featured__item__text">
                        <h6><a th:href="@{/trade/view(trade_idx=${content.tradeIdx})}">[[${content.title}]]</a></h6>
                        <h5>[[${#numbers.formatCurrency(content.price)}]]</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured Section End -->

<section class="from-blog spad d-flex text-left">
    <div class="container">
        <div>
            <div>
                <div class="section-title from-blog__title">
                    <h2>Notice</h2>
                </div>
            </div>
        </div>
        <div class="flex-column">
            <div th:each="content:${noticeDTO}">
                <div>
                    <a th:href="@{/notice/view(idx=${content.idx})}">
                        <p>
                            <i class="fa fa-calendar-o"></i> [[${#strings.substring(content.regDate, 0, 10)}]]
                            <i class="fa fa-comment-o ml-3"></i> [[${#strings.abbreviate(content.title, 30)}]]
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <div>
                <div class="section-title from-blog__title">
                    <h2>Community</h2>
                </div>
            </div>
        </div>
        <div class="flex-column">
            <div th:each="content:${boardDTO}">
                <div>
                    <a th:href="@{/bbs/view(idx=${content.idx})}">
                        <p>
                            <i class="fa fa-calendar-o"></i> [[${#strings.substring(content.regDate, 0, 10)}]]
                            <i class="fa fa-comment-o ml-3"></i> [[${#strings.abbreviate(content.title, 30)}]]
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    const controlDOM = document.getElementById('controls');
    const allDOM = document.getElementById('all');
    const category1DOM = document.getElementById('category1');
    const category2DOM = document.getElementById('category2');
    const category3DOM = document.getElementById('category3');
    const category4DOM = document.getElementById('category4');
    const category5DOM = document.getElementById('category5');
    const category6DOM = document.getElementById('category6');


    controlDOM.addEventListener("click", function(e) {
        const category = e.target.innerHTML;
        console.log(category);
        allDOM.classList.add('d-none');
        category1DOM.classList.add('d-none');
        category2DOM.classList.add('d-none');
        category3DOM.classList.add('d-none');
        category4DOM.classList.add('d-none');
        category5DOM.classList.add('d-none');
        category6DOM.classList.add('d-none');

        switch (category) {
            case 'All' :
                allDOM.classList.remove('d-none');
                break;
            case '유아' :
                category1DOM.classList.remove('d-none');
                break;
            case '초등' :
                category2DOM.classList.remove('d-none');
                break;
            case '중등' :
                category3DOM.classList.remove('d-none');
                break;
            case '고등' :
                category4DOM.classList.remove('d-none');
                break;
            case '교과서/참고서' :
                category5DOM.classList.remove('d-none');
                break;
            case '기타' :
                category6DOM.classList.remove('d-none');
                break;
        }
    }, false)
</script>

</div>
<!-- Blog Section End -->

<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a th:href="@{/basic}"><img style="filter: grayscale(100%); height: 40px;" src="/img/verrylogo.png" alt=""></a>
                    </div>
                    <ul class="w-100">
                        <li><span class="font-weight-bold">(주)베리마켓</span> 서울특별시 금천구 디지털로9길 23</li>
                        <li>Tel: 02.222.2222</li>
                        <li>Email: hello@verrymarket.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>Menu</h6>
                    <ul>
                        <li><a th:href="@{/basic}">Home</a></li>
                        <li><a th:href="@{/trade/list}">Shop</a></li>
                        <li><a th:href="@{/notice/list}">Notice</a></li>
                        <li><a th:href="@{/bbs/list}">Community</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                    <div class="footer__copyright__payment"><img src="/img/payment-item.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/jquery.slicknav.js}"></script>
<script th:src="@{/js/mixitup.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/main.js}"></script>

<th:block layout:fragment="script"></th:block>

</body>

</html>